<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="/css/core.main.min.css">
    <link rel="stylesheet" href="/css/daygrid-main.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"></script>
    <script src="/js/core.main.min.js"></script>
    <script src="/js/daygrid-main.js"></script>
    <script src="/js/interaction.main.js"></script>

    <link rel="icon" href="/img/logo.svg" type="image/icon type">
    <link rel="manifest" href="../manifest.json">
    <title>Book Slots</title>
    <style>
        .customborder {
            border-radius: 2%;
            border: 2px solid #593196;
        }
        
        #calendar {
            max-width: 900px;
            margin: 10px auto;
        }
    </style>
    <script type="text/javascript">
        var obj;
        document.addEventListener('DOMContentLoaded', function() {

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                selectable: true,
                dateClick: function(dateClickInfo) {
                    var clickedDate = dateClickInfo.date.getFullYear() + "-" + dateClickInfo.date.getMonth() + "-" + dateClickInfo.date.getDate();
                    // console.log(clickedDate)
                    // d = new Date(dateClickInfo.date.getFullYear(), dateClickInfo.date.getMonth(), dateClickInfo.date.getDate())


                }

            });

            calendar.render();
        });

        function myFunction() {
            // console.log("clicked")
            var lst = document.getElementsByClassName('slotid').id
            var fst = document.getElementById('modalf').action;
            console.log(fst, lst)
            document.getElementById('modalf').action = lst;
        }

        function reply_click(clicked_id) {
            // alert(clicked_id);
            console.log(clicked_id);
            document.getElementById('modalf').action = document.getElementById('modalf').action + "/" + clicked_id;
            console.log(document.getElementById('modalf').action)

        }
    </script>
</head>

<body>

    <div class="container">
        <h3 class="text-center p-3">Available Slots of
            <%= user %> !</h3>
        <h3 class="text-center p-2">Booking made easy.</h3>
        <a style="float: right;" class="btn btn-danger" href="/success">Dashboard</a>

        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-2 customborder">
            <div id='calendar'></div>
            <div class="container text-center p-3">

                <table id="myTable">
                    <% for(var i=0; i < slots.length; i++) { %>

                        <td>

                            <button type="button" id="<%= slots[i]._id %>" class=" slotid btn btn-primary" onclick="reply_click(this.id)" data-toggle="modal" data-target=".modal">
                            <%= slots[i].time %>
                        </button>

                        </td>
                        <% } %>
                </table>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Want to confirm this time</h5>

                </div>
                <div class="modal-body">
                    <form action="/<%= uid %>/slots" method="POST" id="modalf">

                        <div class="form-group">
                            <label for="title">Enter Your Title</label>
                            <input type="text" class="form-control" name="title" id="title" autocomplete="off" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="discription">Enter Your Discription</label>
                            <input type="text" class="form-control" name="discription" id="discription" autocomplete="off" placeholder="Discription">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-outline-primary" value="Confirm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>