<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <title>Google Calender Authentication</title>
    <style>
        .customborder {
            border-radius: 2%;
            border: 2px solid #593196;
        }
    </style>
</head> 

<body>
    <div class="container">
        <h3 class="text-center p-3">Google Calender Authentication</h3>
        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">
            <a href="https://accounts.google.com/signin/oauth/oauthchooseaccount?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&response_type=code&client_id=258806471398-6d51a86l4o4r4hmtrh8hb4otfosvidq3.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&o2v=2&as=qPIXbBlIlbrI2HBjlf-bZg&flowName=GeneralOAuthFlow">Sign In</a>
            
            <form action="/gogcal" method="POST">
                <% if (success_message != ''){ %>
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong> <%= success_message %> </strong>
                    </div>
                <% } %>
                <% if(error != '') {%>
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong> <%= error %> </strong>
                    </div>
                <%}%>
                <div class="form-group">
                    <label for="token">Enter Token Code to view your calender events:</label>
                    <input type="text" class="form-control" name="token" id="token" autocomplete="off"
                        placeholder="Token">
                </div>
                
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-outline-primary" value="Submit Token">
                </div>
            </form>
        <a style="float: right;" class="btn btn-danger" href="/success">Dashboard</a>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>